{% extends 'nava.html' %}

  <head>
    <meta charset="UTF-8">
    
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
   {%block content%}
   <link rel="stylesheet" href="../static/register.css">
  <div class="container">
    
    <div class="title">EMI PAYMENT.</div>
    
    {% for message in messages %}
	  {{ message }}
	  {% endfor %}

    <div class="content">
      <form method="post" action="">
        {% csrf_token %}

        <div class="user-details">

            <div class="input-box">
                <span class="details">mobile</span>
                <input type="text" name="mobile" pattern="[6789][0-9]{9}" placeholder="a/c no."  required>
              </div>


              <div class="input-box">
                <span class="details">gid</span>
                <input type="text" name="gid" placeholder="verify govt. id"  required>
              </div>

         

         
                 
        </div>
        <div class="button">
          <input type="submit" value="submit">
        </div>
      </form>

	 

    </div>
  </div>
  {% endblock %}
